body{
    background-color:oldlace;
}
.todo-body {
    justify-content: center;
    margin-top: 100px;
    justify-items: auto;
    display: flex;
  }
.span-box {
    
    box-shadow: 1px 0px 2px 0px;
    background-color: darkgray;
    font-size: 125%;
    padding-bottom: 9px;
    font-weight: bolder;
  }
  
  .input-style {
    width: 30vw;
    height: 30px;
    border: 3px solid darkgray;
    border-radius: 0 0 0 0;
}
.btn-1 {
    height: 39px;
    background-color: olive;
    border:  solid darkgray;
    cursor: pointer;
    border-radius: 0 10px 0 0;
    font-weight: bolder;
    font-size: larger;
    padding-bottom: 4px;
    margin-top: -4px;
    transition: 0.5s;
    width:80px;

}
:hover.btn-1{
    background-color: rgb(60, 152, 189);
    transition: 0.5s;
}
.todoNames{
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.singleName{
    border-radius: 20px;
    margin: 10px 0;
    background-color: rgb(209, 169, 169);
    padding: 10px 20px;
    display: flex;
    width: 40%;
    text-align: center;
}
.text-center{
    margin-left:47%;
}